<% layout("/layouts/boilerplate.ejs") %>
  <body>
    
    <div class="row mt-3 ">
      <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3 ">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Enter Title" type="text" id="title" class="form-control" required/>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter title.
          </div>
        </div>
        
        <div class="mb-3">
          <label for="Description" class="form-label">Description</label>
          <textarea 
            name="listing[description]"
            placeholder="Enter Description"
            class="form-control"
            id="Description"
            required
          ></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter description.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
          name="listing[image]"
          type="file"
          id="image"
          class="form-control"
          />
        </div>
  
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="Price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="6000" type="text" id="Price" class="form-control" required/>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter price.
            </div>
          </div>
    
          <div class="mb-3 col-md-8">
            <label for="Country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" id="Country" class="form-control" required/>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter country.
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Manali, Himachal Pradesh"
            type="text"
            id="location"
            class="form-control"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter location.
          </div>
        </div>
        <br><br>
      <button class="btn btn-dark mb-3" style="background-color: #fe424d; border: none;">Add</button>
      <br><br><br>
      </form>
      </div>
    </div>
  </body>